<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">应用管理</h1>
</div>
<div class="wrapper-md" >
    <tabset class="tab-container">
        <tab heading="我的应用" ng-controller="AppCtrl as app">
            <tab-heading>我的应用</tab-heading>
            <div class="wrapper">
                <div class="alert alert-warning m-n">
                    <span>您还未成为服务供应商，无法创建应用，马上<a ui-sref="account.sp_apply">申请成为服务供应商</a></span>
                </div>
                <div class="row wrapper">
                    <a ui-sref="account.app.create" class="btn btn-success"><i class="fa fa-plus"></i> 创建应用</a>
                </div>
                <div class="row row-sm" >
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4" ng-repeat="appInfo in app.apps">
                        <div class="item">
                            <div class="pos-rlt">
                                <a ui-sref="account.app.details({app_guid:appInfo.guid})">
                                    <div class="top">
                                        <span class="badge m-l-sm m-t-sm {{appInfo.color}}">{{appInfo.status}}</span>
                                    </div>
                                    <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                        <div class="center text-center m-t-n w-full">
                                            <i class="fa fa-2x fa-play-circle-o text-white"></i>
                                        </div>
                                    </div>
                                    <img ng-src="{{appInfo.logo}}" alt="img/b2.jpg" class="img-full r r-2x">
                                </a>
                            </div>
                            <div class="padder-v">
                                <a ui-sref="account.app.details({app_guid:appInfo.guid})" class="text-ellipsis">{{appInfo.name}}</a>
                                <a ui-sref="account.app.details({app_guid:appInfo.guid})" class="text-ellipsis text-xs text-muted">{{appInfo.simple_name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="应用市场" ng-controller="AppMarketCtrl as appMarket">
            <tab-heading>应用市场</tab-heading>
            <div class=" wrapper">
                <div class="">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control rounded">
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>全部</li>
                        <li>基础服务</li>
                        <li>企业软件</li>
                        <li>研发管理</li>
                        <li>运维管理</li>
                        <li>安全管理</li>
                        <li>行业增值</li>
                    </ul>
                </div>-->
                <div class="m-b m-t">
                    <div class="btn-group btn-group-justified">
                        <a href="" class="btn btn-success">全部</a>
                        <a href="" class="btn btn-default">基础服务</a>
                        <a href="" class="btn btn-default">研发管理</a>
                        <a href="" class="btn btn-default">企业软件</a>
                        <a href="" class="btn btn-default">运维管理</a>
                        <a href="" class="btn btn-default">安全管理</a>
                        <a href="" class="btn btn-default">行业增值</a>
                    </div>
                </div>
                <div class="row row-sm">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4" ng-repeat="appInfo in appMarket.apps">
                        <div class="item">
                            <div class="pos-rlt">
                                <a ui-sref="account.app.details({app_guid:appInfo.guid})">
                                    <div class="top">
                                        <span class="badge bg-info m-l-sm m-t-sm">04:10</span>
                                    </div>
                                    <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                        <div class="center text-center m-t-n w-full">
                                            <i class="fa fa-2x fa-play-circle-o text-white"></i>
                                        </div>
                                    </div>
                                    <img src="img/b1.jpg" alt="" class="img-full r r-2x">
                                </a>
                            </div>
                            <div class="padder-v">
                                <a ui-sref="account.app.marketDetails({app_guid:appInfo.guid})" class="text-ellipsis">{{appInfo.name}}</a>
                                <a ui-sref="account.app.marketDetails({app_guid:appInfo.guid})" class="text-ellipsis text-xs text-muted">Miaow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="已购买应用" ng-controller="AppPayCtrl as appPay">
            <tab-heading>已购买应用</tab-heading>
            <div class="wrapper">
                <div class="row row-sm">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4" ng-repeat="appInfo in appPay.apps">
                        <div class="item">
                            <div class="pos-rlt">
                                <a ui-sref="account.app.payDetails({app_guid:appInfo.guid})">
                                    <div class="top">
                                        <span class="badge m-l-sm m-t-sm {{appInfo.color}}">{{appInfo.status}}</span>
                                    </div>
                                    <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                        <div class="center text-center m-t-n w-full">
                                            <i class="fa fa-2x fa-play-circle-o text-white"></i>
                                        </div>
                                    </div>
                                    <img ng-src="{{appInfo.logo}}" alt="img/b2.jpg" class="img-full r r-2x">
                                </a>
                            </div>
                            <div class="padder-v col-sm-8">
                                <a ui-sref="account.app.payDetails({app_guid:appInfo.guid})" class="text-ellipsis">{{appInfo.name}}</a>
                                <a ui-sref="account.app.payDetails({app_guid:appInfo.guid})" class="text-ellipsis text-xs text-muted">{{appInfo.simple_name}}</a>
                            </div>
                            <div class="col-sm-4" ng-show="appInfo.status === '未评价' ">
                                <button class="badge m-l-sm m-t-sm bg-info" ng-click="appPay.comment()">点评</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
        </tab>
    </tabset>
</div>