<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">充值记录</h1>
</div>
<div class="wrapper-md" ng-controller="RechargeOrderCtrl as order">
  <div class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-6 m-b-xs">
        <a class="btn btn-sm btn-success" ui-sref="account.recharge"><i class="fa fa-plus"></i>&nbsp;立即充值</a>
        <button type="button" class="btn btn-sm btn-warning" ng-click="order.refreshGrid()"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
      </div>
      <!-- 起始日期选择 -->
      <div class="col-sm-2">
        <p class="input-group">
          <input type="text" class="form-control"  placeholder="起始日期" datepicker-popup="{{order.format}}" ng-model="order.searchOrderStart" is-open="order.startOpen"  datepicker-options="order.dateOptions"  ng-required="true" current-text='今天' clear-text="清空" close-text="关闭" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="order.openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <!-- 中间连接符 -->
      <span class="app-aside w-1x m-t-xs">--</span>
      <!-- 结束日期选择 -->
      <div class="col-sm-2">
        <p class="input-group">
          <input type="text" class="form-control"  placeholder="结束日期" datepicker-popup="{{order.format}}" ng-model="order.searchOrderEnd" is-open="order.endOpened"  datepicker-options="order.dateOptions"  ng-required="true" current-text='今天' clear-text="清空" close-text="关闭" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="order.openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <!-- 查询按钮 -->
      <button class="btn btn-sm btn-info btn-addon" ng-click='order.findOrderResult()'><i class="fa fa-search"></i>查询</button>
    </div>

  </div>
  <!-- ui-grid表格 -->
  <div class="table-responsive m-b-lg">
    <div ui-grid="order.gridOptionsRechargeOrder" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
    ui-grid-auto-resize></div>
  </div>
</div>
</div>
