<div ng-controller="ContractDetailsCtrl as contract">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">合约详细</h1>
  </div>
  <!--合约详情显示-->
  <div class="wrapper-md">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <form name="myForm" class="bs-example form-horizontal ng-pristine ng-valid">
          <div class="form-group">
            <label class="col-sm-4 control-label">合约名称:</label>
            <div class="col-sm-8">
              <p class="form-control-static" >{{contract.contractName}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">合约类型:</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{contract.contractType}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">合约状态:</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{contract.message}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">合约模板:</label>
            <div class="col-sm-8">
              <a  class="btn m-b-xs btn-sm btn-info btn-addon" ng-click='contract.pdfPreview()'>
                <i class="icon-eye"></i>点击预览模板
              </a>
            </div>
          </div>
          <!--若为待处理状态，显示提醒上传合约模块-->
          <div class="form-group" ng-show="contract.contractState===10">
            <label class="col-sm-4 control-label">合约附件:</label>
            <div class="col-sm-8">
              <p class="form-control-static">合约已上传，可点击编辑按钮进行修改</p>
              <a  class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click='contract.pdfPreview()' >
                <i class="icon-eye"></i>点击预览附件
              </a>
            </div>

          </div>
          <!--若不为待处理状态，则显示合约上传成功模块-->
          <div class="form-group" ng-show="contract.contractState===20||contract.contractState===30">
            <label class="col-sm-4 control-label">合约附件:</label>
            <div class="col-sm-8">
              <p class="form-control-static">合约附件已上传</p>
              <a class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click='contract.pdfPreview()' >
                <i class="icon-eye"></i>点击预览附件
              </a>
            </div>
          </div>
        </form>
        <!--表单结束-->
      </div>
    </div>
    <!-- 点击预览加载 -->
    <div class="col-sm-8" ng-if='contract.showPdfViewer' style="box-shadow: 1px 1px 4px rgba(58, 63, 81, 0.73);background: #fff;">
      <ng-pdf template-url="tpl/viewer.html" scale="page-fit" page=1></ng-pdf>
    </div>
  </div>
</div>
