<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">通知公告</h1>
</div>
<div class="wrapper-md" ng-controller="NoticeCtrl as notice">
    <div class="panel panel-default">
        <div class="row wrapper">
            <div class="col-sm-5 m-b-xs">
                <button type="button" class="btn btn-sm btn-warning" ng-click="notice.refreshGrid()"><i class="fa fa-refresh"></i>&nbsp;刷新</button>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <input placeholder="查找通知公告" class="input-sm form-control" type="text" ng-model="searchNotice"/>
            </div>
        </div>
        <div class="table-responsive m-b-lg">
            <div ui-grid="notice.gridOptionsNotice" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
                 ui-grid-auto-resize></div>
        </div>
    </div>
</div>