<div ng-controller="AppDetailsCtrl as appDetails">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">应用名称</h1>
    </div>
    <div class="wrapper-md">
        <tabset class="tab-container">
            <tab heading="应用信息">
                <div class="row">
                    <div class="col-sm-8" ng-init="isEdit=false">
                          <!--  <div class="panel-heading font-bold">
                                <button type="button" class="btn btn-sm btn-info pull-right m-t-n-xs" ng-click="isEdit=true">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>
                                </button>
                                应用信息
                            </div>-->
                            <div ng-show="!isEdit" class="panel-body">
                                <form name="myForm" class="bs-example form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用Logo:</label>
                                        <div class="col-sm-10">
                                            <span class="thumb-lg w-auto-folded avatar m-t-sm">
                                                <img src="img/a0.jpg" class="img-full" alt="...">
                                              </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用名称:</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">百度超级安全管家</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用简称：</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">超级管家</p>
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="col-sm-2 control-label">应用类型</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">1</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用分类*</label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">安全服务</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用简介</label>
                                        <div class="col-sm-10">
                                            <textarea disabled="disabled" class="form-control" rows="3" placeholder="输入应用简介">顶级安全团队为您打造下一代智能安全产品。
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用快照</label>
                                        <div class="col-sm-10">
                                            <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                                                应用截图，不少于3张
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">详细描述</label>
                                        <div class="col-sm-10">
                                            <textarea disabled="disabled" class="form-control" rows="6" placeholder="输入应用详细描述">具备1Tbps抗D能力，采用云端防护模式，客户无需购买或租用硬件清洗设备，按需使用；同时，百度安全团队全程支持防护；有效防御各类攻击，包括（不限于）流量型、应用型、扫描窥探型、协议漏洞型、协议选项型等DDoS攻击，如SYN Flood、UDP Flood、DNS Query Flood、CC等，挽回因网站或业务服务中断造成的诸多损失。 由国内最顶级Web安全专家组成的技术团队，为不同行业、不同规模的网站提供了革命性的云防护安全模式，彻底颠覆了过去单点部署WAF形式的被动防护，以网站替身的形式为网站拦截各种SQL注入、XSS跨站、网站挂马、篡改、拖库等黑客攻击，并做到实时更新防护策略，第一时间防御各种0day漏洞，有效保护用户源站安全。
                                            </textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div ng-show="isEdit" class="panel-body">
                                <form name="myForm" class="bs-example form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用Logo*</label>
                                        <div class="col-sm-10">
                                            <input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用名称*</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="输入应用名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用简称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="输入应用简称">
                                        </div>
                                    </div>
                                    <div class="form-group hide">
                                        <label class="col-sm-2 control-label">应用类型</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用分类*</label>
                                        <div class="col-sm-10">
                                            <select name="account" class="form-control m-b">
                                                <option>分类 1</option>
                                                <option>分类 2</option>
                                                <option>分类 3</option>
                                                <option>分类 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用简介</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" placeholder="输入应用简介"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">应用快照</label>
                                        <div class="col-sm-10">
                                            <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                                                应用截图，不少于3张
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">详细描述</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="6" placeholder="输入应用详细描述"></textarea>
                                        </div>
                                    </div>

                                    <footer class="panel-footer text-right bg-light lter">
                                        <button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">提交</button>
                                    </footer>
                                </form>
                            </div>
                    </div>
                </div>
            </tab>
            <tab heading="组件管理" ng-controller="AppComponentCtrl as component">
                <div class="row wrapper">
                    <div class="col-sm-5 m-b-xs">
                        <!--<a class="btn btn-sm btn-info" ui-sref="account.app_component.add" ><i class="fa fa-plus fa-fw"></i>新增组件</a>-->
                        <button type="button" class="btn btn-sm btn-info" ng-click="component.addComponent()"><i class="fa fa-plus fa-fw"></i>新增组件</button>
                        <button type="button" class="btn btn-sm btn-warning" ng-click="component.refreshGrid()"><i class="fa fa-refresh"></i>刷新</button>
                        <script type="text/ng-template" id="modal_component_add.html">
                            <div ng-include="'tpl/app/modal_component_add.html'"></div>
                        </script>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <input placeholder="查找组件" class="input-sm form-control" type="text" ng-model="searchComponent"/>
                    </div>
                </div>
                <div class="table-responsive m-b-lg">
                    <div ui-grid="component.gridOptionsComponent" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
                         ui-grid-auto-resize></div>
                </div>
            </tab>
            <tab heading="版本管理" ng-controller="AppVersionCtrl as version">
                <div class="row wrapper">
                    <div class="col-sm-5 m-b-xs">
                        <a class="btn btn-sm btn-info" ui-sref="account.app_version.add({app_guid:'123'})" ><i class="fa fa-plus fa-fw"></i>新增版本</a>
                        <button type="button" class="btn btn-sm btn-warning" ng-click="version.refreshGrid()"><i class="fa fa-refresh"></i>刷新</button>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <input placeholder="查找版本" class="input-sm form-control" type="text" ng-model="searchVersion"/>
                    </div>
                </div>
                <div class="table-responsive m-b-lg">
                    <div ui-grid="version.gridOptionsVersion" ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination
                         ui-grid-auto-resize></div>
                </div>
            </tab>
            <tab heading="应用评价" ng-controller="AppCommentCtrl as comment">
                <ul class="list-group list-group-lg no-borders pull-in m-b-none">
                    <li class="list-group-item" ng-repeat="commentInfo in comment.comments">
                        <div class="row m-b-sm">
                            <div class="col-lg-4"><span class="h4 text-primary">{{commentInfo.user_guid}}</span></div>
                            <div class="col-lg-4"><rating  ng-model="commentInfo.star" readonly="1" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'"></rating></div>
                            <div class="col-lg-4">{{commentInfo.create_time}}</div>
                        </div>
                        <p class="b wrapper-md pos-rlt bg-light r r-2x"><span class="arrow top pull-left arrow-light"></span>{{commentInfo.comment}}</p>
                    </li>
                </ul>
            </tab>
        </tabset>
    </div>
</div>
