<div ng-controller="AppCreateCtrl as application">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">新增应用</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">应用信息</div>
                    <div class="panel-body">
                        <form name="myForm" class="form-horizontal form-validation">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用Logo</label>
                                <div class="col-sm-10">
                                    <input ng-model="application.appForm.logo" ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用名称</label>
                                <div class="col-sm-10">
                                    <input ng-model="application.appForm.name" type="text" class="form-control" placeholder="输入应用名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用简称</label>
                                <div class="col-sm-10">
                                    <input ng-model="application.appForm.simple_name" type="text" class="form-control" placeholder="输入应用简称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用类型</label>
                                <div class="col-sm-10">
                                    <label  class="m-r">
                                        <input type="radio" name="type" value="1" ng-model="application.appForm.type">
                                        普通应用
                                    </label>
                                    <label  class="m-r">
                                        <input type="radio" name="type" value="2" ng-model="application.appForm.type">
                                        容器应用
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用分类</label>
                                <div class="col-sm-10">
                                    <select ng-model="application.appForm.category">
                                        <option ng-repeat="x in categoryInfo" value="{{x.value}}">{{x.name}}</option>
                                    </select>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用简介</label>
                                <div class="col-sm-10">
                                    <textarea ng-model="application.appForm.intro" class="form-control" rows="3" placeholder="输入应用简介"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">应用快照</label>
                                <div class="col-sm-10">
                                    <div class="b-a b-2x b-dashed wrapper-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                                        应用截图，不少于3张
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">详细描述</label>
                                <div class="col-sm-10">
                                    <textarea ng-model="application.appForm.description_text" class="form-control" rows="6" placeholder="输入应用详细描述"></textarea>
                                </div>
                            </div>

                            <footer class="panel-footer text-right bg-light lter">
                                <a ng-click="application.createApp()" class="btn btn-success" ng-disabled="myForm.$invalid">创建</a>
                                <a ui-sref="account.apps" class="btn btn-default">取消</a>
                                <!--<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">提交</button>-->
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
