<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">资源信息</h1>
</div>
<div class="wrapper-md" ng-controller="ResourceDetailsCtrl as resource">
    <!--<div class="panel panel-default">-->

        <div class="panel-body">
            <form class="bs-example form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">资源类型</label>
                    <div class="col-sm-10">
                        <select ui-jq="chosen" class="w-md" ng-model="now_resource_type" >
                            <optgroup label="选择资源类型">
                                <option value="资源类型1">资源类型1</option>
                                <option value="资源类型2">资源类型2</option>
                                <option value="资源类型3">资源类型3</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">资源名称</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control"    ng-model="now_resource_name">
                    </div>
                </div>
                 <br>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn m-b-xs w-xs btn-success" ng-click="saveResource()"><i class="fa fa-floppy-o"></i> 保存修改</button>
                        <a ui-serf="account.resources" href="#/account/resources" >
                        <button class="btn m-b-xs w-xs btn-default m-l-md" >取消编辑</button>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    <!--</div>-->
</div>